@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApp.Areas.Paquetes.Pages.CreateModel
@{
    ViewData["Title"] = "Solicitud de envío";
    Layout = "_Layout";
}

<section class="content-header">
    <h4 style="text-align: right;">Añade una nueva solicitud.</h4>
    <a class="btn btn-outline-danger" asp-area="Paquetes" asp-page="Index">
        <i class="fas fa-undo"></i>
        Volver al administrador de paquetes
    </a>
</section>

<section class="content">
    <div>
        <!--Formulario-->
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Nueva solicitud de envío.</h4>
            </div>
            <div class="card-body">
                <form method="POST" asp-action="Create" autocomplete="off" enctype="multipart/form-data">
                    <div class="row mb-4">
                        <div class="col">
                            <label>Fotografía del paquete</label>
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="fas fa-camera-retro"></i>
                                </span>
                                <input type="file" accept="image/png, image/jpeg, image/jpg" name="Subir_Archivo" class="form-control" required />
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <label>Contenido del paquete</label>
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="fas fa-box-open"></i>
                                </span>
                                <input type="text" class="form-control" asp-for="Paquete.Contenido_Paquete" placeholder="El texto debe de ser autodescriptivo" />
                            </div>
                            <span asp-validation-for="Paquete.Contenido_Paquete" class="text-danger"></span>
                        </div>
                        <div class="col">
                            <label>Tipo de contenido</label>
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="fas fa-tv"></i>
                                </span>
                                <select class="form-select" asp-for="Paquete.Tipo_Contenido">
                                    <option value="@ApplicationCore.Enum.Tipo_Contenido.Accesorio">@ApplicationCore.Enum.Tipo_Contenido.Accesorio</option>
                                    <option value="@ApplicationCore.Enum.Tipo_Contenido.Decoracion">@ApplicationCore.Enum.Tipo_Contenido.Decoracion</option>
                                    <option value="@ApplicationCore.Enum.Tipo_Contenido.Electrodomestico">@ApplicationCore.Enum.Tipo_Contenido.Electrodomestico</option>
                                    <option value="@ApplicationCore.Enum.Tipo_Contenido.Muebles">@ApplicationCore.Enum.Tipo_Contenido.Muebles</option>
                                    <option value="@ApplicationCore.Enum.Tipo_Contenido.Vestimenta">@ApplicationCore.Enum.Tipo_Contenido.Vestimenta</option>
                                </select>
                            </div>
                            <span asp-validation-for="Paquete.Tipo_Contenido" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <label>Fecha de entrega</label>
                            <div class="input-group">
                                <input class="form-control" asp-for="Paquete.Fecha_Entrega" />
                            </div>
                            <span asp-validation-for="Paquete.Fecha_Entrega" class="text-danger"></span>
                        </div>
                        <div class="col">
                            <label>Peso del paquete</label>
                            <div class="input-group">
                                <input class="form-control" asp-for="Paquete.Peso_Contenido" placeholder="Expresa la cantidad en libras" />
                                <span class="input-group-text">
                                    lb
                                </span>
                            </div>
                            <span asp-validation-for="Paquete.Peso_Contenido" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-4 form-check">
                        <div class="col">
                            <input type="checkbox" class="form-check-input" asp-for="Paquete.Envio_Prioridad" />
                            <label asp-for="Paquete.Envio_Prioridad">Activar envío con prioridad.</label>
                            <span asp-validation-for="Paquete.Envio_Prioridad" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row g-3 signin">
                        <div class="form-floating col-md">
                            <select id="DepSelect" asp-for="Paquete.Departamento" class="form-select">
                                <option selected disabled>Seleccionar...</option>
                                @foreach (var item in Model.depSVs)
                                {
                    <option value="@item.DepName">@item.DepName</option>}
                            </select>
                            <label floatingSelect>Departamento</label>
                            <span asp-validation-for="Paquete.Departamento" class="text-warning"></span>

                        </div>
                        <div class="form-floating col-md">
                            <select id="MunSelect" class="form-select" asp-for="Paquete.Municipio">
                                <option selected disabled>Seleccionar...</option>
                            </select>
                            <label>Municipio</label>
                            <span asp-validation-for="Paquete.Municipio" class="text-warning"></span>

                        </div>
                        <div style="display: flex; justify-content: space-around;">
                            <button type="submit" class="btn Btn-outline-Hex" id="submit">
                                <i class="fas fa-share-square"></i>
                                <b>Enviar solicitud</b>
                            </button>
                            <button type="reset" class='btn btn-outline-danger'>
                                <i class="fas fa-dumpster"></i>
                                <b>Vaciar campos</b>
                            </button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript" language="javascript">
        $.validator.unobtrusive.parse(document);
        $(document).ready(function () {
            $('#a-paquete').addClass('active');
            $("#submit").submit(function (e) {
                return false;
            });
        });
        $(document).ready(function () {
            $('#DepSelect').change(function () {
                var DepName = document.getElementById('DepSelect').value;
                console.log(DepName)
                $.ajax({
                    type: "GET",
                    url: "?handler=Mun&DepName=" + DepName,
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        var { munSVs } = res;
                        $('.OptionMun').remove();
                        $.each(munSVs, function (index, item) {
                            $("#MunSelect").append($('<option>').text(item.munName).addClass('OptionMun'));
                        });
                    }

                })
            })
        });
    </script>
}