@page
@using Microsoft.AspNetCore.Antiforgery
@model WebApp.Areas.Administrador.Pages.Envios_RechazadosModel
@inject IAntiforgery antiforgery
@{ ViewData["Title"] = "Administrador de Solicitudes";
    Layout = "_Layout";
    var tokenSet = antiforgery.GetAndStoreTokens(HttpContext); }
@section Styles{
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="~/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
}
<section class="content-header">
    <div>
        <h4 style="text-align: right;">Administra el estado de las solicitudes.</h4>
    </div>
</section>
<section class="content">
    <div>
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Contenido del paquete</th>
                    <th scope="col">Tipo de envío</th>
                    <th scope="col">Estado del envío</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Paquetes.Count > 0)
                {
                    @foreach (var item in Model.Paquetes)
                    {
                <tr>
                    <th scope="row">
                        <img src="@item.String_Fotografia" alt="@item.Nombre_Fotografia()" style="width: 100px;" class="rounded" />

                    </th>
                    <td>@item.Contenido_Paquete</td>
                    <td>
                        @if (@item.Envio_Prioridad == true)
                        {
                <span class="badge Bg-Orange">
                    <i class="fas fa-shipping-fast"></i>
                    Prioridad de envío
                </span> }
            else
            {
                <span class="badge bg-light">
                    <i class="fas fa-truck"></i>
                    Envío normal
                </span>}
                    </td>
                    <td>
                        @if (@item.Estado_Paquete == "En chequeo")
                        {
                            <span class="badge bg-primary">
                                @item.Estado_Paquete
                            </span> }
                        else if (@item.Estado_Paquete == "Rechazado")
                        {
                            <span class="badge bg-danger">
                                @item.Estado_Paquete
                            </span> }
                        else if (@item.Estado_Paquete == "En progreso")
                        {
                            <span class="badge bg-info text-dark">
                                @item.Estado_Paquete
                            </span> }
                        else if (@item.Estado_Paquete == "Envio finalizado")
                        {
                            <span class="badge bg-success">
                                @item.Estado_Paquete
                            </span>}
                    </td>
                    <td>
                        <button type="button" class="btn Btn-outline-Hex" onclick="Detalles('?handler=Detalles&Id=@item.Id')">
                            <i class="fas fa-clipboard-list"></i>
                            <b>Más detalles</b>
                        </button>
                    </td>
                </tr>
} }
                else
                {
                    <tr>
                        <td colspan="12" class="text-center">No se han encontrado registros</td>
                    </tr>
}
            </tbody>
        </table>
    </div>
    <div>
        <div class="modal fade" id="Modal_Detalles" tabindex="-1" aria-labelledby="ModalDetallesLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalDetallesLabel">Detalles del paquete</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!--Se mostrará la información por medio de INPUTs-->
                        <div class="row mb-4">
                            <div class="col-sm-12 text-center">
                                <img id="IMG" style="width: 100px;" />
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <label class="text-muted">Contenido del paquete</label>
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="fas fa-box-open"></i>
                                    </span>
                                    <input type="text" class="form-control" id="nombre_Contenido" aria-describedby="nombre-contenido" disabled />
                                </div>
                            </div>
                            <div class="col">
                                <label class="text-muted">Tipo de contenido</label>
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="fas fa-tv"></i>
                                    </span>
                                    <input type="text" class="form-control" id="tipo_Contenido" aria-describedby="tipo-contenido" disabled />
                                </div>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col">
                                <label class="text-muted">Peso del paquete</label>
                                <div class="input-group">
                                    <input class="form-control" id="peso_Contenido" disabled />
                                    <span class="input-group-text">
                                        lb
                                    </span>
                                </div>
                            </div>
                            <div class="col">
                                <label class="text-muted">Monto a cancelar</label>
                                <div class="input-group">
                                    <span class="input-group-text">$</span>
                                    <input class="form-control" id="Monto_Pagar" disabled />
                                </div>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col">
                                <label class="text-muted">Fecha de entrega</label>
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="far fa-calendar"></i>
                                    </span>
                                    <input type="datetime" class="form-control" id="Fecha_Entrega" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div id="div_check" class="col">
                                <label class='text-muted' id="Label_Check"></label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="display: flex; justify-content: space-around;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <!-- Pager -->
    <script src="~/js/pager.js"></script>
    <!-- SweetAlert2 -->
    <script src="~/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!--JS personal-->
    <script>
        $(document).ready(function () {
            $('#a-rechazado').addClass('active');
            Aceptar = (url) => {
                $.ajax({
                    type: "POST",
                    url: url,
                    contentType: false,
                    processData: false,
                    headers: {
                        '@tokenSet.HeaderName' : '@tokenSet.RequestToken'
                    },
                    success: function () {
                        Swal.fire({
                            title: 'Solicitud aceptada.',
                            subtitle: 'Has aceptado el envío de este paquete.',
                            icon: 'success',
                            timer: 2000
                        }), setTimeout(function () {
                            location.reload();
                        }, 2000);
                    }
                });
            }
            Detalles = (url) => {
                $.ajax({
                    type: "GET",
                    url: url,
                    contentType: false,
                    processData: false,
                    headers: {
                        '@tokenSet.HeaderName': '@tokenSet.RequestToken'
                    },
                    success: function (data) {
                        const { info } = data;
                        const { nombre_Fotografia } = data;
                        const { id, contenido_Paquete, string_Fotografia, tipo_Contenido, peso_Contenido, fecha_Entrega, envio_Prioridad, monto_Pagar_Prop } = info;
                        $("#IMG").attr("src", string_Fotografia);
                        $("#IMG").attr("alt", nombre_Fotografia);
                        $("#nombre_Contenido").val(contenido_Paquete);
                        switch (tipo_Contenido) {
                            case 0:
                                $("#tipo_Contenido").val("Accesorio");
                                break;
                            case 1:
                                $("#tipo_Contenido").val("Decoración");
                                break;
                            case 2:
                                $("#tipo_Contenido").val("Electrodoméstico");
                                break;
                            case 3:
                                $("#tipo_Contenido").val("Mueble");
                                break;
                            case 4:
                                $("#tipo_Contenido").val("Vestimenta");
                                break;
                        }

                        $("#peso_Contenido").val(peso_Contenido);
                        $("#Fecha_Entrega").val(fecha_Entrega);

                        if (envio_Prioridad == true) {
                            $("#div_check").attr('class', 'badge bg-warning');
                            $("#Label_Check").text(`Con prioridad de envío`);
                        } else {
                            $("#div_check").attr('class', 'badge bg-teal');
                            $("#Label_Check").text(`Sin prioridad de envío`);
                        }

                        $("#Monto_Pagar").val(monto_Pagar_Prop);

                        Mostrar_Modal(id);
                     },
                })
            }
            Mostrar_Modal = (Id) => {
                $(".modal-footer")
                    .append(`
                            <button type="button" class="btn btn-success" onclick="Aceptar('?handler=Aceptar&Id=${Id}')">
                                <i class="fas fa-clipboard-check"></i>
                                Aceptar envío
                            </button>
                            <button class='btn btn-outline-danger' data-bs-dismiss="modal">
                            <i class="fas fa-times-circle"></i>
                                Cerrar detalles
                            </button>`
                    );
                $("#Modal_Detalles").modal("show");
            }
            $('#Modal_Detalles').on('hidden.bs.modal', function () {
                $(".modal-footer").empty();
            })
        });
    </script>
    @await Component.InvokeAsync("Notyf");
}